<template>
    <div class="hello">
        <h1>{{ hellomsg }}</h1>
        <h2>Hello page</h2>
    </div>
</template>

<script>
    export default {
        name: 'hello',
        props: {
            hellomsg: {
                type: String,
                required: true
            }
        }
    }
</script>