<template>
    <div id="mymap1" class="container">
        <h2>Map page</h2>
        <div class="row">
            <div class="col-md-9">
                <l-map :zoom="zoom" :center="center">
                    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
                    <l-marker :lat-lng="marker"></l-marker>
                </l-map>
            </div>
            <div class="col-md-3">
                <input type="button" value="Button1">
                <input type="button" value="Button2">
            </div>
        </div>
    </div>
</template>

<script>

    import { LMap, LTileLayer, LMarker } from 'vue2-leaflet';

    export default {

        name: 'mymap1',
        data() {
            return {
                zoom: 8,
                center: L.latLng(47.413220, -1.219482),
                url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                marker: L.latLng(47.413220, -1.219482),
            }
        },
        components: {
            LMap, LTileLayer, LMarker
        }
    }
</script>

<style scoped>
    #mymap {
        height: 600px;
        width: 600px;
    }
</style>