<template>
    <div id="app">
        <div id="nav">
            <router-link to="/">Hello</router-link> |
            <router-link to="/map">Map</router-link> |
        </div>
        <h2>Index page</h2>
        <router-view :hellomsg="msg"></router-view>
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                msg: "Hello Vue!"
            }
        }
    }
</script>

<style scoped></style>